


html, 
body, 
#root  {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
    display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.fx4-main-menu * {
  pointer-events: auto !important;
  user-select: auto !important;
}


.actionbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 8px;
}

.foreign-dragsource, .foreign-dropzone, .searchbox, .actionbtn {
    height: 30px;
    background-color: transparent;
    border: 1px solid #808080;
    padding: 0 8px;
    border-radius: 4px;
    font-size: .8rem;
    color: #393939;
    display: flex;
    align-items: center;
    justify-items: center;
}

.foreign-dragsource {
    cursor: grab;
}
.foreign-dragsource:active {
    cursor: grabbing;
}
.foreign-dragsource:before {
    content: url(data:image/svg+xml;base64,PHN2ZyBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIwIiB2aWV3Qm94PSIwIDAgMjQgMjQiIGhlaWdodD0iMThweCIgd2lkdGg9IjE4cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkgMTNhMSAxIDAgMSAxIDAtMiAxIDEgMCAwIDEgMCAyWm03LTFhMSAxIDAgMSAxLTIgMCAxIDEgMCAwIDEgMiAwWk05IDhhMSAxIDAgMSAxIDAtMiAxIDEgMCAwIDEgMCAyWm03LTFhMSAxIDAgMSAxLTIgMCAxIDEgMCAwIDEgMiAwWk05IDE4YTEgMSAwIDEgMSAwLTIgMSAxIDAgMCAxIDAgMlptNiAwYTEgMSAwIDEgMSAwLTIgMSAxIDAgMCAxIDAgMloiPjwvcGF0aD48L3N2Zz4=);
    width: 10px;
    display: inline-block;
    z-index: 1;
    margin-right: 8px;
    margin-top: 2px;
}
.foreign-dragsource:hover {
    background-color: #f6f6f6;
}

.foreign-dropzone {
    border: 1px dashed #808080;
    padding: 0 26px;
}
